*{
    margin: 0;
    padding: 0;
}

body{
    background-color: orange;
}

.input-result{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vw;
    height: 50vh;   
}

.input{
    background-color:black;
    color: white;
    width: 38vw;
    padding-left: 5px;

}

.result{
    background-color: black;
    color: white;
    width: 38vw;
    padding-left: 5px;

}

.struc{
    height: 100vh;
    width: 40vw;
    background-color: black;
    margin:auto;
   
   
}

.control{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50vh;
}

button{
    height: 10vh;
    width: 10vw;
    background-color: black;
    color: white;
    
}

.color{
    color: rgb(251, 96, 0);
}
